<!DOCTYPE html>
<html>
<head>
    <title>云谊通云应用协作平台</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="layoutmode" content="standard" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="renderer" content="webkit" />
    <meta name="wap-font-scale" content="no" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link href="~/css/Shared/Home.css" rel="stylesheet" />
    <link href="~/lib/editor.md/css/editormd.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/dpz/dpz.js"></script>
    <script src="~/lib/editor.md/editormd.min.js"></script>
    <script src="~/js/ycc.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Shared/Home.js" asp-append-version="true"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
