
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - 云谊通云应用协作平台</title>

    <link href="~/css/Shared/Setup.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/dpz/dpz.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Shared/Setup.js" asp-append-version="true"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
