@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>云谊通云应用协作平台</title>

    <link href="~/css/Shared/Home.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/js/Home/About.js"></script>
</head>
<body>
    <div id="pg_body">
        <h2>测试</h2>
        <h3>{{aa.message}}</h3>

        <p>Use this area to provide additional information.</p>

        <img v-bind:src="bb.logo" />
    </div>
</body>
</html>

